<!DOCTYPE html>
<html>
<head>
	<title>Football Club</title>
	<link rel="stylesheet" type="text/css" href="/css/header.css">
	<link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
	{{> header}}
	<div class="content">
		<div class="wrapper">	
			{{> profile_card}}
			<div class="mainnotfixed" id="mainnotfixed">
				<form action="home" method="POST" enctype="multipart/form-data">
					<div class="main mainpost" style="margin-bottom:20px; padding-bottom:10px;">	
						<div class="userimg">
							<img src="{{account.profile_photo_path}}"/>
						</div>
						<div class="username">				 
							<p class="name" style="top:15px;">{{account.first_name}} {{account.second_name}}</p>
						</div>
						<p class="quotes">
							<textarea id="mypara" name="text" placeholder="Share an article ,photo ,video or idea."></textarea>
						</p>
						<div class="post">
							<img id="load2" class="postimg" src=" "/>
						</div>
						<div class="postbar">
							<input type="file" name="filedata" accept="images/*" id="chooseimg"/>
							<button type="button" class="imgbttn" id="imgbttn">&#x1f4f7; Images</button>
							<button type="submit" id="postmypost" class="postmypost">Post</button>
						</div>
					</div>
				</form>
				<hr>
				<div class="allpost">
					{{#each posts}}
					<div class="mainpost">
						<div class="userimg">
							<img src="{{this.profile_photo_path}}"/>
						</div>
					    <div class="username">				 
							<p class="name">{{this.first_name}} {{this.second_name}}</p>
					    </div>
						<p class="time">{{this.time_passed}}</p>
						<p class="quotes">
							{{this.text}}	
						</p>
						<div class="post">
							<img class="postimg" src="{{this.path}}"/>
						</div>
						<div class="likedislike">
							<p class="like">
								<span class="nooflike" id="like1">0 </span> likes &nbsp <span class="noofdislike" id="dislike1">0 </span> dislikes
							</p>
							<p class="likedisbttn">
								<span id="thumbsup1" class="fa fa-thumbs-up" ></span> <span id="thumbsdown1" class="fa fa-thumbs-down"></span>
							</p>
						</div>
					</div>
					{{/each}}
				</div>
				<button type="button" id="viewmore" class="viewmore" onclick="newpost();">View More</button>
			</div>
			<div class="rightfixed">
				<div class="suggesfixed">
					<p id="suggestion">Suggestion</p>
				</div>
				<div class="sidebarright">
					{{#each accounts}}
					<div class="rightcontent">
						<img src="{{this.profile_photo_path}}"/>
						<p class="name">{{this.first_name}} {{this.second_name}}</p>
						<a href="#" id="connect1">&#x271A; Connect</a>
					</div>
					{{/each}}
				</div>
			</div>
			<div class="rightfixed">
				{{> footer_card}}
			</div>
		</div>
	</div>
</body>
</html>